
.items-container {
   /* width: 250px;
    display: flex;
    flex-wrap: nowrap;*/
    width: 100%;
    min-height: 60vh;
    padding: 30px;
    margin-bottom: 60px;
}

.product-list-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        justify-content: center;
        gap: 30px 60px;
        margin: 40px 20px;
}

.detail-container {
    display: grid;
    grid-template-areas: "detail product 1" "detail product 2";
    grid-template-rows: 1fr 1fr;
}

.detail-product-1{
    grid-area: "detail product 1";
}

.detail-product-2{
    grid-area: "detail product 2";

}


